

  






 body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: black;
    color: rgb(253, 245, 245);
    overflow: hidden;
}
.main{
    flex:1;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    border-radius: 1rem;
    overflow: auto;
    
}

.navbar{
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(133, 118, 113, 0.767);
    opacity: 0.7;
    border: 1px solid rgba(248, 133, 1, 0.428);
} 
.licon{
    font-family:  sans-serif;
    /* height: 1rem; */
    display: flex;
    margin: 5px 5px 5px 5px;
    width: 70rem;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px 0px 10px;
    color: whitesmoke;
    opacity: 1;
}
.s:hover{
   transform: scale(1.02);
   color: rgb(9, 0, 0);
}
.ricon{
    display: flex;
    justify-content: space-around;
    margin: 0.2rem 2rem 0.2rem 0.2rem;
    opacity: 1;
}
   
.a{
font-family:  sans-serif;
font-size: 1rem;
font-weight: 600;
border: 0.5em solid;
border-block-color:  rgba(255, 134, 28, 0.914);
writing-mode: horizontal-tb;
/* outline: 0.5rem solid khaki; */
background-color: white;
border-radius: 23px;
padding: 10px 10px 10px 10px;
margin:10px;
/* padding: 5px 5px 5px 5px; */
/* height: 45px; */
/* border-radius: 80px;
width: 08rem;
font-weight: 700;background-color: rgb(253, 252, 251);
margin: 8px;
border: solid; */
}
.a:hover{
background-color: black;
border-block-color:  rgb(251, 6, 6);
color: white;
transform: scale(1.1);
}
.map-container{
    background-color: rgb(194, 82, 82);
}

#map {
    position:absolute;
    top: 100px;
    left: 30px;
    height: 80%;
    width: 70%;
    margin-top: 10px;
    
    border-radius: 10px;
 
  }
  .crises-list{
    float: right;
    height: 78%;
    background-color: rgba(48, 1, 1, 0.486);
    width: 25%;
    margin: 20px;
    border: 2px solid rgb(248, 235, 135);
    border-radius: 15px;
  }